<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>
<p>
  <strong>Answer info:</strong>
  <%= @question.answer_info %>
</p>

<p>
  <strong>points:</strong>
  <%= @question.points: max= 5 %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @question.answer %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
